.main-div{
  margin-top: 10px;
  margin-bottom: 10px;
  display:block;
  margin-right: 10px;
  margin-left: 10px;
}

.column {
  width: 97%;
  background-color: aquamarine;
  border: solid 2px black;
  padding: 5px;
  margin-top:3px;
}